@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

table {
    border-spacing: 10px;
    align-content: center;
    margin: 0 auto;
}

th {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
}

th:hover {
    background: #ddd;
}

p {
    font-weight: 400;
}

.main-container {
    width: 100%;
    height: fit-content;
    background: #f9f9f9;
    display: block;
    margin: 20px auto 0;
    padding: 18px;
    max-width: 47rem;
    font-family: 'Titillium Web', sans-serif;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skills-container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    margin: 0;
}

.skills {
    text-align: right; /* Right-align text */
    color: white; /* White text color */
    padding-right: 5px;
}

.c {width: 90%; background-color: #4CAF50;} /* Green */
.java {width: 85%; background-color: #2196F3;} /* Blue */
.js {width: 85%; background-color: #f44336;} /* Red */
.python {width: 70%; background-color: #808080;} /* Dark Grey */

.footer-container {
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.git-button {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.git-button:hover {
    color: blue;
}


.email-button {
    cursor: pointer;
}

.email-button:hover {
    color: blue;
}
